body {
  background-image: url('../assets/img/subtle-prism.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 5%;
}
.login {
  background-image: url('../assets/img/subtle-stripes2.png');
}
input {
  background-color: transparent;
}